

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container_details{
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.container_details_p{
  margin-left: 3%;
  margin-right: 3%;
}


.column_details_p{
  margin-top: 1em !important;
  display:flex;
  column-gap: 15px;
  position: relative;
  justify-content: center;
}

.title_details{
  background: none;
  font-weight: 1000;
  color: #06a3da;
  text-align: center;
  font-family: sans-serif;

}

.rate_box_details_p{
  border: 2px solid #00000061 !important;
  border-radius: 10px !important;
  width: 1000px;
}

#plan-select{
border: 2px #7e3535;
text-align: center;
}

#drop-list{
height: 25px;
  width: auto;
  position: absolute;
  right: 3%;
  padding-top: 11px;
}

@media (max-width: 700px){
#drop-list{
  right: 10%;
}
}






/* Pricing Table Styles */
.pricingTable {
  margin: 60px auto;
  margin-bottom: 20px;
/*   
  border: 2px solid red; */
}

.pricingTable-title {
  text-align: center;
  color: #6e768d;
  font-size: 3em;
  font-size: 300%;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}

.pricingTable-subtitle {
  text-align: center;
  color: #b4bdc6;
  font-size: 1.8em;
  letter-spacing: 0.04em;
  margin-bottom: 60px;
}

.pricingTable-firstTable {
  list-style: none;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

.pricingTable-firstTable_table {
  vertical-align: middle;
  width: 46%;
  background-color: #f0f4f7;
  display: inline-block;
  padding: 0px 30px 40px;
  text-align: center;
  max-width: 420px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    
  }
}

.pricingTable-firstTable_table > * {
  @media screen and (max-width: 767px) {
    display: inline-block;
    vertical-align: middle;
  }

  @media screen and (max-width: 480px) {
    display: block;
    float: none;
  }
}

.pricingTable-firstTable_table:after {
  @media screen and (max-width: 767px) {
    display: table;
    content: '';
    clear: both;
  }
}

.pricingTable-firstTable_table:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 767px) {
  .pricingTable-firstTable_table:hover {
    transform: none;
  }
}

.pricingTable-firstTable_table:not(:last-of-type) {
  margin-right: (100% - 31% * 3) / 2;

  @media screen and (max-width: 767px) {
    margin-right: auto;
  }
}

.pricingTable-firstTable_table {
  position: relative;
}

/* nth-of-type(2) */

.pricingTable-firstTable_table h1 {
  @media screen and (max-width: 767px) {
    padding-top: 8%;
  }
}

.pricingTable-firstTable_table:before {
  content: 'Try Now';
  position: absolute;
  color: white;
  display: block;
  background-color: #3bbdee;
  text-align: center;
  right: 15px;
  top: -25px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 0.6em;
  padding-top: 22px;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  transition: all 0.5s ease;

  @media screen and (max-width: 988px) {
    font-size: 0.6em;
  }

  @media screen and (max-width: 767px) {
    left: 10px;
    width: 45px;
    height: 45px;
    top: -10px;
    padding-top: 13px;
    font-size: 40px;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.8em;
  }
}

.pricingTable-firstTable_table:hover:before {
  transform: rotate(360deg);
}

.pricingTable-firstTable_table__header {
  font-size: 1.6em;
  padding: 40px 0px;
  border-bottom: 2px solid #ebedec;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1068px) {
    font-size: 1.45em;
  }

  @media screen and (max-width: 767px) {
    padding: 0px;
    border-bottom: none;
    float: left;
    width: 33%;
    padding-top: 3%;
    padding-bottom: 2%;
  }

  @media screen and (max-width: 610px) {
    font-size: 1.3em;
  }

  @media screen and (max-width: 480px) {
    float: none;
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
}

.pricingTable-firstTable_table__pricing {
  font-size: 3em;
  padding: 30px 0px;
  border-bottom: 2px solid #ebedec;
  line-height: 0.7;

  @media screen and (max-width: 1068px) {
    font-size: 2.8em;
  }

  @media screen and (max-width: 767px) {
    border-bottom: none;
    padding: 0;
    float: left;
    clear: left;
    width: 33%;
  }

  @media screen and (max-width: 610px) {
    font-size: 2.4em;
  }

  @media screen and (max-width: 480px) {
    float: none;
    width: 100%;
    font-size: 3em;
    margin-bottom: 10px;
  }

  span:first-of-type {
    font-size: 0.35em;
    vertical-align: top;
    letter-spacing: 0.15em;

    @media screen and (max-width: 1068px) {
      font-size: 0.3em;
    }
  }

  span:last-of-type {
    vertical-align: bottom;
    font-size: 0.30em;
    letter-spacing: 0.04em;
    padding-left: 0.2em;

    @media screen and (max-width: 1068px) {
      font-size: 0.25em;
    }
  }
}

.pricingTable-firstTable_table__options {
  list-style: none;
  padding: 15px;
  font-size: 0.9em;
  border-bottom: 2px solid #ebedec;

  @media screen and (max-width: 1068px) {
    font-size: 0.85em;
  }

  @media screen and (max-width: 767px) {
    border-bottom: none;


    padding: 0;
    margin-right: 10%;
  }

  @media screen and (max-width: 610px) {
    font-size: 0.7em;
    margin-right: 8%;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.3em;
    margin-right: none;
    margin-bottom: 10px;
  }

  li {
    padding: 8px 0px;

    @media screen and (max-width: 767px) {
      text-align: left;
    }

    @media screen and (max-width: 610px) {
      padding: 5px 0;
    }

    @media screen and (max-width: 480px) {
      text-align: center;
    }

    &:before {
      content: '✓';
      /* content: ' '; */
      display: inline-flex;
      margin-right: 15px;
      color: white;
      background-color: #6fbed0;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      font-size: 0.8em;
      padding: 2px;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1068px) {
        width: 14px;
        height: 14px;
        padding: 1.5px;
      }

      @media screen and (max-width: 767px) {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.pricingTable-firstTable_table__getstart {
  color: white;
  border: 0;
  background-color: #06bee8;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  box-shadow: 0px 3px 0px 0px #26879d;
  letter-spacing: 0.07em;
  transition: all 0.4s ease;

  @media screen and (max-width: 1068px) {
    font-size: 0.95em;
  }

  @media screen and (max-width: 767px) {
    margin-top: 0;
  }

  @media screen and (max-width: 610px) {
    font-size: 0.9em;
    padding: 10px;
  }

  @media screen and (max-width: 480px) {
    font-size: 1em;
    width: 50%;
    margin: 10px auto;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 40px 29px -19px #05829e;

    @media screen and (max-width: 767px) {
      transform: none;
      box-shadow: none;
    }
  }

  &:active {
    box-shadow: inset 0 0 10px 1px #0d8ca8, 0px 40px 29px -19px #026f88;
    transform: scale(0.95) translateY(-9px);

    @media screen and (max-width: 767px) {
      transform: scale(0.95) translateY(0);
      box-shadow: none;
    }
  }
}

/* Body Styles */
.price__table {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  color: #717787;

  @media screen and (max-width: 960px) {
    font-size: 80%;
  }

  @media screen and (max-width: 776px) {
    font-size: 70%;
  }

  @media screen and (max-width: 496px) {
    font-size: 50%;
  }

  @media screen and (max-width: 320px) {
    font-size: 40%;
  }
}


#vehicle__header_manual,
#vehicle__header_luxury{
  font-size: 1.6em;
    padding: 40px 0px;
    border-bottom: 2px solid #ebedec;
    letter-spacing: 0.03em;
    background: none;
    color: #717787;
}

.pricingTable-firstTable{
  display: flex;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 767px) {
  .pricingTable-firstTable {
    flex-direction: column;
  }

  #vehicle__header_manual{
    width: 185px;
    padding: 35px 0px;
    justify-content: center;
  }
}

@media (min-width: 480px) {
  #vehicle__header_manual{
    width: auto;
  }
}